# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea
/sc-f-chapter1/.idea
/sc-f-chapter1/*.iml
/sc-f-chapter1/service-hi/.mvn
/sc-f-chapter1/eureka-server/.mvn
/sc-f-chapter2/.idea
/sc-f-chapter3/.idea
/sc-f-chapter3/*.iml
/sc-f-chapter3/service-feign/.mvn
/sc-f-chapter2/service-ribbon/.mvn
/sc-f-chapter2/*.iml
